@import url('./fonts/icons/style.css');
/* Шрифты */

@font-face {
    font-family: 'Marske';
    src: url(/fonts/Marske.ttf);
}


:root {
    --color_bg: #1D7373;
    --gradient: linear-gradient(to right, #1D7373, #5CCCCC);
    --no-active: #bcbec0;
    --no-active-hover: #cae4e2;
    --white: #f4f8f8;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Marske';
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;

}

.screen {
    width: 350px;
    height: 730px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: 48px 1fr 62px;

}

.screen__top,
.screen__bottom {
    align-self: center;
    justify-self: center;

}

.screen__content {}

.selectBox {
    margin: 0 auto;
    max-width: fit-content;
    position: relative;
    z-index: 1;
    margin-bottom: 2em;
}

.selectBox__selected {
    display: flex;
    justify-content: center;
    min-width: 140px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    background-color: var(--white);
    z-index: 1;
}

.ico_arrow {
    display: inline-block;
    font-size: 0.8em;
    color: var(--no-active);
    margin-left: 10px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.selectBox.open .selectBox__list {
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 135px;
    top: 130%;
}

.selectBox.open .ico_arrow {
    transform: rotate(180deg);
}

.selectBox__list {
    position: absolute;
    padding: 4px;
    max-height: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.selectbox__item {
    cursor: pointer;
}

.selectbox__item.selected,
.selectbox__item:hover {
    color: #5CCCCC;
    font-weight: bold;
}

.selectbox__item:not(:last-child) {
    margin-bottom: 6px;
}

.rooms {
    display: none;
    margin: 0 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 15px;

}

.room {
    display: grid;
    grid-template-rows: 4fr 2fr;
    padding-top: 1em;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    background: var(--no-active);
    border-radius: 12px;
    grid-gap: 10px;
    cursor: pointer;
}

.room:hover {
    background: var(--no-active-hover);
    border-radius: 12px;
}

.room span {
    opacity: 0.6;
}

.room.selected {
    background: var(--gradient);
    color: white;
}

.room i {
    align-self: center;
    font-size: 6em;
    opacity: 0.4;
}

.room.active i {
    opacity: 1;
}
.room.active span {
    opacity: 1;
}

/* settings */
.settings {
    margin: 0 auto;
    max-width: fit-content;
}
.settings__tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 10px;

}

.option {
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 0.5em;
    padding-top: 1em;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    background: var(--no-active);
    border-radius: 12px;
    grid-gap: 10px;
    cursor: pointer;
}

.option:hover {
    background: var(--no-active-hover);
    border-radius: 12px;
}

.option span {
    opacity: 0.6;
}

.option.selected {
    background: var(--gradient);
    color: white;
}

.option i {
    align-self: center;
    font-size: 3em;
    opacity: 0.4;
}

.option.active i {
    opacity: 1;
}
.option.active span {
    opacity: 1;
}

/* регулировка температуры */

.settings__screens {
    padding-top: 30px;
}

.settings__screen-title {
    text-align: center;
    margin-bottom: 20px;
}

.temperature-button {
    width: 240px;
    margin: 0 auto;
}
.dots-box {}

.dots,
.line,
.line-active,
.round,
.separate-lines,
.separate-dots {
    fill: transparent;
    stroke: var(--no-active);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-dasharray: 0 21;
}

.line,
.line-active,
.round {
    stroke-width: 1px;
    stroke-dasharray: 273 282;
    transform: rotate(47deg);
    transform-origin: center;
}

.line-active {
    transform: rotate(57deg);
    stroke: black;
    stroke-dasharray: 271 282;
    /* с 60 до 271*/
}

.round {
    stroke: var(--color_bg);
    stroke-width: 6px;
    stroke-dasharray: 0 276;
    transform: rotate(-237deg);
    /*от -237 до 47*/
}

.separate-lines,
.separate-dots {
    stroke: var(--white);
    transform: rotate(58deg);
    transform-origin: center;
}

.separate-dots {
    stroke-dasharray: 42 313;
}

.separate-lines {
    stroke-dasharray: 46 226;
}
